.vDrop{
	position: relative;

	select{
		visibility: hidden;
	}

	.vClicker{
		position: absolute;
		top: 0;
		left: 0;
		padding: 5px;
		width: 220px;
		height: 24px;
		line-height: 24px;
		background: #ddd;
	}

	ul{
		display: none;
		position: absolute;
		top: 34px;
		left: 0;
		width: 220px;
		z-index: 1;
		margin: 0;
		padding: 0;
		list-style: none;
		background: #ccc;

		li{
			a{
				display: block;
				padding: 5px;
			}
		}
	}
}